<!DOCTYPE html>
<html>
<head>
  <title>
    Article 
  </title>
</head>
<body>
  <center>
    <h2 style="color: pink">
      Create new post
    </h2>
<%= form_with model: post do |form| %>
  <div  class="form-group">
    <%= form.label :title %><br>
    <%= form.text_field :title %>     
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>      
  </div>
  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
</center>
</body>
</html>



