<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		table {
  border: 1px solid #ddd;
  padding: 8px;
}

#posts th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
	</style>
</head>
<body>
<div class="col-sm-11 col-xs-12 blog-content">
	<table >
		<tr>
		<th>
			Title
		</th>	
		<th>
			Created at
		</th>
		<th>
			Body
		</th>
	</tr>
	<tr>
		<td>
			<%= @post.title %>
		</td>
		<td>
			<%= @post.created_at.strftime('%b %d, %Y') %>
		</td>
		<td>
			<%= raw @post.body %>
		</td>
	</tr>
	</table>
  <h2 class="text-center"><%= @post.title %></h2>
  <h5 class="text-center"><%= @post.created_at.strftime('%b %d, %Y') %></h5>
  <div><%= raw @post.body %></div>
</div>
</body>
</html>